<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>strol</title>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa5DNFGsZk-0CNylPqLevWuo7Pts8Xup8&libraries=geometry"></script>
  <link rel="canonical" href="/">
</head>

<body>
  {{> akau}}
</body>


<template name="spots">
  <div id="spots">
    <ul class="spot-list">
      {{#each epicenters}}
      <li class="{{bgClass}}" data-name="{{this.name}}">
        <span class="cat-name">{{this.cat}}</span>
        <div class="hidden spot-individual">
        {{#each this.spots}}
        <div style="border:solid black 1px;margin: 2px">
          <span style="padding:0 0 0 1em">{{this.name}}</span>
        </div>
        {{/each}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="spot">
  <div id="spot" class="bg-peterriver" style="display:{{#if show }}block{{else}}none{{/if}}">
    <span class="spot-name">{{spot.name}}</span><a target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet?text=I'm on {{spot.name}}. via https://strol.tk/">
Tweet</a>
  </div>
</template>


<template name="akau">
  <header><h1>{{title}}</h1></header>
  <div id="container">
    <div id="compass"></div>

    <div id="sanpo-main">
      <h2 class="state-title">{{stateTitle}}</h2>
      {{> spot}}
      {{> spots}}
      <div style="display:none">{{loginButtons}}</div>
    </div>
    {{> descriptions}}

  </div>
</template>

<template name="descriptions">
  <div id="descriptions">
    {{#each epicenters}}
    <div class="spot-desc {{bgClass}}" data-name="{{this.name}}">
      <h2>{{this.name}} ({{this.year}})</h2>
      <table>
        <tr><th>Class</th><td>{{this.recclass}}</td></tr>
        <tr><th>Mass</th><td>{{this.mass}}</td></tr>
        <tr><th>Description</th><td>{{this.description}}</td></tr>
        <tr><th>Latitude</th><td>{{this.reclat}}</td></tr>
        <tr><th>Longitude</th><td>{{this.reclong}}</td></tr>
        <tr><th>Distance(km)</th><td>{{this.distance}}</td></tr>
      </table>
    </div>
    {{/each}}
  </div>
</template>
