/* CSS declarations go here */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway_thin-webfont.woff');
}

@font-face {
    font-family: 'HelveticaNeue-condensed';
    src: url('../fonts/HelveticaNeue-Condensed.otf') format('opentype');
}

@font-face {
    font-family: 'baramond';
    src: url('../fonts/Baramond.ttf') format('truetype');
}

html,body {
    /*width: 320px;*/
    height: 100%;
    margin: 0 auto;
    font-family: Raleway;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 { font-family: 'HelveticaNeue-condensed'; }

header {
    background: #d35400;
    height: 22px;
    color: #ecf0f1;
}

  header h1 {
      font-family: 'HelveticaNeue-condensed';
      font-size: 1.5em;
      text-align: center;
      margin: 0;
      padding: 0;
  }

.state-title {
    background: #16a085;
    font-size: 1em;
    color: #ecf0f1;
    padding: 2px;
    margin: 0;
    text-align: center;
}

.spot-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'HelveticaNeue-condensed';
}

.spot-list li {
    color: #ecf0f1;
    padding: 10px 8px;
}

.spot-list li span {
    font-size: 1.5em;
}

.spot-desc {
    position: fixed;
    top: 0;
    left: 100%;
    transition: left 0.5s;
    width: 90%;
    min-height: 100%;
    color: #ecf0f1;
}

.spot-desc.expanded {
    left: 10%;
    transition: left 0.5s;
}

.bg-sunflower { background: #f1c40f; }
.bg-orange { background: #f39c12; }
.bg-carrot { background: #e67e22; }
.bg-pumpkin { background: #d35400; }
.bg-alizarin { background: #e74c3c; }
.bg-emerald { background: #2ecc71; }
.bg-nephritis { background: #27ae60; }
.bg-peterriver { background: #3498db; }
.bg-belizehole { background: #2980b9; }


.relative { position: relative; }

#spot {
    padding: 8px;
}

.twitter-share-button {
    background: #fff;
    margin: 0 0 0 1em;
    border-radius: 2px;
    font-size: 1em;
    padding: 4px 6px 4px 0;
}

.spot-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #ecf0f1;
}

.hidden {
    display: none;
}

.chat-icon {
    height: 2em;
}

#container {
    background: #2c3e50;
}


#descriptions {
}

#googlemap {
    height: 400px;
    width: 600px;
}

#compass svg {
    width: 100%;
}
